*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bkg : rgb(18, 18, 18);

    /* font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif)); */
}

.p-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex{
    display: flex;
}

.btn{
    cursor: pointer;
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}
html{
    font-size: 14px;
}

body{
    background-color: black;
    width: 100vw;
    height: fit-content;
    
    padding: 0px;

    justify-content: space-evenly;
}

#left-pane{
    width: 23%;
    height: 90vh;
}

#upper-left-sec{
    flex-direction: column;
    justify-content: space-evenly;
    height: 15.5%;
    background-color: var(--primary-bkg);
    border-radius: 8px;

    margin: 8px 0px;
}

#upper-left-sec div {
    align-items: center;
    width: 100%;
    height: 30%;
}

#upper-left-sec div img{
    height: 100%;
    padding: 2px;
    margin: 0 15px;
}

#upper-left-sec div span{
    color: white;
    font-size: 1.5rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lower-left-sec{
    height: 80%;    
    background-color: var(--primary-bkg);
    border-radius: 8px;
    
    margin: 8px 0px;
    padding: 10px;

}


#lib-sec{
    height: 5%;
    font-size: 2rem;
    color: white;

    align-content: center;
    justify-content: space-between; 

    margin: 5px;

}

#lib-sec a{
    background: none;
    align-items: center;
    font-size: 1.2rem;
}

#lib-sec a img{
    max-height: 100%;
    margin: 0 15px;
}

.lower-left-card{
    background-color: rgb(35, 35, 35);
    color: white;

    border: 1px solid transparent;
    border-radius: 8px;

    margin: 25px 0;
}

.lower-left-card>p{
    margin: 15px;
    font-size: 1.2rem;
}

.lower-left-card>p+p{
    margin: 15px;
    font-size: 1.1rem;
}

.lower-left-card button{
    margin: 13px;
    border-radius: 20px;
    padding: 10px;
}


#right-pane{
    width: 77%;
    /* height: 90vh; */
    border-radius: 8px;
    margin: 8px;
    
}

#top-right{
    height: 8vh;
    background-color: var(--primary-bkg);
    position: sticky;
    top: 0;

    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

#top-right>div button{
    background-color: black;
    
    border: none;
    border-radius: 50%;
    
    font-size: 1.5rem;
    
    padding: 5px 12px;
    margin: 2px;
  
}

#top-right>div+div>button{
    background: none;
    color: rgb(183  , 182, 182);
    
    border: none;
    border-radius: 0px;
    
    font-size: 1.1rem;
    font-weight: bold;

    margin: 0px 20px;
}

#top-right>div+div>button:hover{
    color: white;
  transform: scale(1.001);
}




#top-right>div+div>button+button{
    background: white;
    color: black;
    
    border: none;
    border-radius: 30px;
    
    font-size: 1.1rem;

    padding: 15px 32px;
    margin: 2px 5px;

}

#top-right>div+div>button+button:hover{
    color: black;
    /* font-size: 1.2em; */
    position: relative;
    transform: scale(1.05);

}


#main-right{
    height: fit-content;

    background: linear-gradient(rgb(31, 31, 31), var(--primary-bkg));
}

.section{
    height: 50vh;
}

#focus{
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

#focus button{
    background: none;
    border: none;
    color: white;
}

#focus>button{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 7px 22px;
}

#focus>button + button{
    font-size: 1rem;
    font-weight: normal;
    margin: 7px 22px;
}

#focus>button:hover{
    text-underline-offset: 2px;
    text-underline-position: below;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#focus>button + button{
    font-size: 1rem;
    font-weight: normal;
    margin: 7px 22px;
}




.cards{
    height: 80%;
    width: 100%;
    /* border: 1px solid white; */
    margin: 25px 0px;
}

.card{
    width: 18%;
    /* border: 1px solid white; */
    border-radius: 8px;
    height: 100%;
    margin: auto;
    padding: 15px;
    background-color: var(--primary-bkg);
    
}

.card:hover{
    background-color: rgb(38, 38, 38);

}

.card-image{
    height: 65%;
    /* border: 1px solid white; */
}

.card-image>img{
    /* max-height: 100%; */
    border-radius: 5px;
    max-width: 100%;
    display: block;
    margin: auto;
}



.card-text>p{
    font-size: 1.2rem;
    color: white;
    margin: 15px 0;
}

.card-text>p+p{
    font-size: 1.1rem;
    color: rgb(183, 182, 182);
    margin: 15px 0;

}